@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Slabo 27px', serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Slabo 27px', serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Oswald', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oswald', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Oswald', sans-serif;
}
.mbr-author-desc {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Oswald', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #000000 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #000000 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #000000;
}
.btn-social:hover {
  background: #000000;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #000000;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #000000;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #000000;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #000000;
}
.lead a,
.lead a:hover {
  color: #000000;
}
.lead blockquote {
  border-color: #000000;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #000000;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
}
#menu-0 .link {
  font-size: 0.75rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #000000;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #000000;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#testimonials2-1 .mbr-section-title {
  color: #ffffff;
}
#testimonials2-1 .card-block P {
  color: #000000;
}
#testimonials2-1 .card-block I {
  color: #000000;
}
#social-buttons2-2 .mbr-section-title,
#social-buttons2-2 .btn-social {
  color: #232323;
}
#social-buttons2-2 .mbr-section-title {
  color: #ffffff;
}
#menu-e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-e .navbar-caption {
  color: #ffffff;
}
#menu-e .navbar-toggler {
  color: #ffffff;
}
#menu-e .link,
#menu-e .dropdown-item {
  color: #ffffff;
}
#menu-e .link {
  font-size: 0.75rem;
}
#menu-e .dropdown-item,
#menu-e .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-e .link:hover,
#menu-e .dropdown-item:hover,
#menu-e .link:focus,
#menu-e .dropdown-item:focus {
  color: #000000;
}
#menu-e .link[aria-expanded="true"],
#menu-e .dropdown-menu {
  background: #000000;
}
#menu-e .nav-dropdown-sm .link:focus,
#menu-e .nav-dropdown-sm .link:hover,
#menu-e .nav-dropdown-sm .dropdown-item:focus,
#menu-e .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-e .navbar,
#menu-e .nav-dropdown-sm,
#menu-e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-e .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-e .bg-color.transparent.opened .link:hover,
#menu-e .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-e .link[aria-expanded="true"],
#menu-e .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#menu-e.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-e .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-e .close-icon::before,
#menu-e .close-icon::after {
  background-color: #ffffff;
}
#testimonials2-g .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
#social-buttons2-h .mbr-section-title,
#social-buttons2-h .btn-social {
  color: #232323;
}
#social-buttons2-h .mbr-section-title {
  color: #ffffff;
}
#menu-p .hide-buttons .nav-btn {
  display: none !important;
}
#menu-p .navbar-caption {
  color: #ffffff;
}
#menu-p .navbar-toggler {
  color: #ffffff;
}
#menu-p .link,
#menu-p .dropdown-item {
  color: #ffffff;
}
#menu-p .link {
  font-size: 0.75rem;
}
#menu-p .dropdown-item,
#menu-p .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-p .link:hover,
#menu-p .dropdown-item:hover,
#menu-p .link:focus,
#menu-p .dropdown-item:focus {
  color: #000000;
}
#menu-p .link[aria-expanded="true"],
#menu-p .dropdown-menu {
  background: #000000;
}
#menu-p .nav-dropdown-sm .link:focus,
#menu-p .nav-dropdown-sm .link:hover,
#menu-p .nav-dropdown-sm .dropdown-item:focus,
#menu-p .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-p .navbar,
#menu-p .nav-dropdown-sm,
#menu-p .nav-dropdown-sm .link[aria-expanded="true"],
#menu-p .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-p .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-p .bg-color.transparent.opened .link:hover,
#menu-p .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-p .link[aria-expanded="true"],
#menu-p .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#menu-p.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-p .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-p .close-icon::before,
#menu-p .close-icon::after {
  background-color: #ffffff;
}
#testimonials2-r .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
#testimonials2-r .card-footer > div {
  color: #ffffff;
}
#testimonials2-r .card-footer > small {
  color: #ffffff;
}
#testimonials2-r .card-block P {
  color: #000000;
}
#testimonials2-r .card-block I {
  color: #000000;
}
#social-buttons2-s .mbr-section-title,
#social-buttons2-s .btn-social {
  color: #232323;
}
#social-buttons2-s .mbr-section-title {
  color: #ffffff;
}
#menu-x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-x .navbar-caption {
  color: #ffffff;
}
#menu-x .navbar-toggler {
  color: #ffffff;
}
#menu-x .link,
#menu-x .dropdown-item {
  color: #ffffff;
}
#menu-x .link {
  font-size: 0.75rem;
}
#menu-x .dropdown-item,
#menu-x .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-x .link:hover,
#menu-x .dropdown-item:hover,
#menu-x .link:focus,
#menu-x .dropdown-item:focus {
  color: #000000;
}
#menu-x .link[aria-expanded="true"],
#menu-x .dropdown-menu {
  background: #000000;
}
#menu-x .nav-dropdown-sm .link:focus,
#menu-x .nav-dropdown-sm .link:hover,
#menu-x .nav-dropdown-sm .dropdown-item:focus,
#menu-x .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-x .navbar,
#menu-x .nav-dropdown-sm,
#menu-x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-x .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-x .bg-color.transparent.opened .link:hover,
#menu-x .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-x .link[aria-expanded="true"],
#menu-x .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#menu-x.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-x .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-x .close-icon::before,
#menu-x .close-icon::after {
  background-color: #ffffff;
}
#form1-1d .form-control-label {
  color: #ffffff;
}
#form1-1d .mbr-section-title {
  color: #ffffff;
}
#form1-1d SMALL {
  color: #ffffff;
}
#header3-37 .mbr-section-title,
#header3-37 .mbr-section-subtitle {
  text-align: center;
}
#content1-38 P {
  text-align: center;
}
#social-buttons2-10 .mbr-section-title,
#social-buttons2-10 .btn-social {
  color: #232323;
}
#social-buttons2-10 .mbr-section-title {
  color: #ffffff;
}
#menu-1g .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1g .navbar-caption {
  color: #ffffff;
}
#menu-1g .navbar-toggler {
  color: #ffffff;
}
#menu-1g .link,
#menu-1g .dropdown-item {
  color: #ffffff;
}
#menu-1g .link {
  font-size: 0.75rem;
}
#menu-1g .dropdown-item,
#menu-1g .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1g .link:hover,
#menu-1g .dropdown-item:hover,
#menu-1g .link:focus,
#menu-1g .dropdown-item:focus {
  color: #000000;
}
#menu-1g .link[aria-expanded="true"],
#menu-1g .dropdown-menu {
  background: #000000;
}
#menu-1g .nav-dropdown-sm .link:focus,
#menu-1g .nav-dropdown-sm .link:hover,
#menu-1g .nav-dropdown-sm .dropdown-item:focus,
#menu-1g .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-1g .navbar,
#menu-1g .nav-dropdown-sm,
#menu-1g .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1g .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-1g .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1g .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1g .bg-color.transparent.opened .link:hover,
#menu-1g .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-1g .link[aria-expanded="true"],
#menu-1g .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#menu-1g.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1g .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1g .close-icon::before,
#menu-1g .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-32 .mbr-section-title,
#msg-box8-32 p {
  color: #fff;
}
#msg-box8-32 .lead {
  color: #ffffff;
}
#content1-33 P {
  text-align: left;
}
#msg-box8-2d .mbr-section-title,
#msg-box8-2d p {
  color: #fff;
}
#menu-1k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1k .navbar-caption {
  color: #ffffff;
}
#menu-1k .navbar-toggler {
  color: #ffffff;
}
#menu-1k .link,
#menu-1k .dropdown-item {
  color: #ffffff;
}
#menu-1k .link {
  font-size: 0.75rem;
}
#menu-1k .dropdown-item,
#menu-1k .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1k .link:hover,
#menu-1k .dropdown-item:hover,
#menu-1k .link:focus,
#menu-1k .dropdown-item:focus {
  color: #000000;
}
#menu-1k .link[aria-expanded="true"],
#menu-1k .dropdown-menu {
  background: #000000;
}
#menu-1k .nav-dropdown-sm .link:focus,
#menu-1k .nav-dropdown-sm .link:hover,
#menu-1k .nav-dropdown-sm .dropdown-item:focus,
#menu-1k .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-1k .navbar,
#menu-1k .nav-dropdown-sm,
#menu-1k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1k .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-1k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1k .bg-color.transparent.opened .link:hover,
#menu-1k .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-1k .link[aria-expanded="true"],
#menu-1k .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#menu-1k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1k .close-icon::before,
#menu-1k .close-icon::after {
  background-color: #ffffff;
}
#features1-2b .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-2c .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#msg-box8-20 .mbr-section-title,
#msg-box8-20 p {
  color: #fff;
}
#menu-1q .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1q .navbar-caption {
  color: #ffffff;
}
#menu-1q .navbar-toggler {
  color: #ffffff;
}
#menu-1q .link,
#menu-1q .dropdown-item {
  color: #ffffff;
}
#menu-1q .link {
  font-size: 0.75rem;
}
#menu-1q .dropdown-item,
#menu-1q .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1q .link:hover,
#menu-1q .dropdown-item:hover,
#menu-1q .link:focus,
#menu-1q .dropdown-item:focus {
  color: #000000;
}
#menu-1q .link[aria-expanded="true"],
#menu-1q .dropdown-menu {
  background: #000000;
}
#menu-1q .nav-dropdown-sm .link:focus,
#menu-1q .nav-dropdown-sm .link:hover,
#menu-1q .nav-dropdown-sm .dropdown-item:focus,
#menu-1q .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-1q .navbar,
#menu-1q .nav-dropdown-sm,
#menu-1q .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1q .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-1q .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1q .bg-color.transparent.opened .link:hover,
#menu-1q .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-1q .link[aria-expanded="true"],
#menu-1q .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#menu-1q.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1q .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1q .close-icon::before,
#menu-1q .close-icon::after {
  background-color: #ffffff;
}
#features1-1y .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #000000;
}
#features1-1y .mbr-cards-col:nth-child(even) .card-title {
  color: #ffffff;
}
#features1-1y .mbr-cards-col:nth-child(even) .card-subtitle {
  color: #ffffff;
}
#features1-1y .mbr-cards-col:nth-child(even) .card-text {
  color: #ffffff;
}
#features1-1y .mbr-cards-col:nth-child(odd) .card-subtitle {
  color: #ffffff;
}
#features1-1z .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #000000;
}
#features1-1z .mbr-cards-col:nth-child(even) .card-title {
  color: #ffffff;
}
#features1-1z .mbr-cards-col:nth-child(even) .card-text {
  color: #ffffff;
}
#menu-1s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1s .navbar-caption {
  color: #ffffff;
}
#menu-1s .navbar-toggler {
  color: #ffffff;
}
#menu-1s .link,
#menu-1s .dropdown-item {
  color: #ffffff;
}
#menu-1s .link {
  font-size: 0.75rem;
}
#menu-1s .dropdown-item,
#menu-1s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1s .link:hover,
#menu-1s .dropdown-item:hover,
#menu-1s .link:focus,
#menu-1s .dropdown-item:focus {
  color: #000000;
}
#menu-1s .link[aria-expanded="true"],
#menu-1s .dropdown-menu {
  background: #000000;
}
#menu-1s .nav-dropdown-sm .link:focus,
#menu-1s .nav-dropdown-sm .link:hover,
#menu-1s .nav-dropdown-sm .dropdown-item:focus,
#menu-1s .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-1s .navbar,
#menu-1s .nav-dropdown-sm,
#menu-1s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1s .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-1s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1s .bg-color.transparent.opened .link:hover,
#menu-1s .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-1s .link[aria-expanded="true"],
#menu-1s .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#menu-1s.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1s .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1s .close-icon::before,
#menu-1s .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-21 .mbr-section-title,
#msg-box8-21 p {
  color: #fff;
}
#features1-22 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #000000;
}
#features1-22 .mbr-cards-col:nth-child(even) .card-title {
  color: #ffffff;
}
#features1-22 .mbr-cards-col:nth-child(even) .card-text {
  color: #ffffff;
}
#menu-1u .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1u .navbar-caption {
  color: #ffffff;
}
#menu-1u .navbar-toggler {
  color: #ffffff;
}
#menu-1u .link,
#menu-1u .dropdown-item {
  color: #ffffff;
}
#menu-1u .link {
  font-size: 0.75rem;
}
#menu-1u .dropdown-item,
#menu-1u .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1u .link:hover,
#menu-1u .dropdown-item:hover,
#menu-1u .link:focus,
#menu-1u .dropdown-item:focus {
  color: #000000;
}
#menu-1u .link[aria-expanded="true"],
#menu-1u .dropdown-menu {
  background: #000000;
}
#menu-1u .nav-dropdown-sm .link:focus,
#menu-1u .nav-dropdown-sm .link:hover,
#menu-1u .nav-dropdown-sm .dropdown-item:focus,
#menu-1u .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-1u .navbar,
#menu-1u .nav-dropdown-sm,
#menu-1u .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1u .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-1u .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1u .bg-color.transparent.opened .link:hover,
#menu-1u .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-1u .link[aria-expanded="true"],
#menu-1u .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#menu-1u.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1u .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1u .close-icon::before,
#menu-1u .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-23 .mbr-section-title,
#msg-box8-23 p {
  color: #fff;
}
#features3-24 H4 {
  color: #ffffff;
}
#features3-24 P {
  color: #ffffff;
}
#features3-25 H4 {
  color: #ffffff;
}
#features3-25 P {
  color: #ffffff;
}
#features3-26 H4 {
  color: #ffffff;
}
#features3-26 P {
  color: #ffffff;
}
#msg-box8-2e .mbr-section-title,
#msg-box8-2e p {
  color: #fff;
}
#menu-2f .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2f .navbar-caption {
  color: #ffffff;
}
#menu-2f .navbar-toggler {
  color: #ffffff;
}
#menu-2f .link,
#menu-2f .dropdown-item {
  color: #ffffff;
}
#menu-2f .link {
  font-size: 0.75rem;
}
#menu-2f .dropdown-item,
#menu-2f .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2f .link:hover,
#menu-2f .dropdown-item:hover,
#menu-2f .link:focus,
#menu-2f .dropdown-item:focus {
  color: #000000;
}
#menu-2f .link[aria-expanded="true"],
#menu-2f .dropdown-menu {
  background: #000000;
}
#menu-2f .nav-dropdown-sm .link:focus,
#menu-2f .nav-dropdown-sm .link:hover,
#menu-2f .nav-dropdown-sm .dropdown-item:focus,
#menu-2f .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-2f .navbar,
#menu-2f .nav-dropdown-sm,
#menu-2f .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2f .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-2f .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2f .bg-color.transparent.opened .link:hover,
#menu-2f .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-2f .link[aria-expanded="true"],
#menu-2f .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#menu-2f.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2f .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2f .close-icon::before,
#menu-2f .close-icon::after {
  background-color: #ffffff;
}
#features1-2h .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-2i .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#msg-box8-2j .mbr-section-title,
#msg-box8-2j p {
  color: #fff;
}
#header3-2o .mbr-section-title,
#header3-2o .mbr-section-subtitle {
  text-align: center;
}
#header3-2o H3 {
  color: #000000;
}
#menu-2k .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2k .navbar-caption {
  color: #ffffff;
}
#menu-2k .navbar-toggler {
  color: #ffffff;
}
#menu-2k .link,
#menu-2k .dropdown-item {
  color: #ffffff;
}
#menu-2k .link {
  font-size: 0.75rem;
}
#menu-2k .dropdown-item,
#menu-2k .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2k .link:hover,
#menu-2k .dropdown-item:hover,
#menu-2k .link:focus,
#menu-2k .dropdown-item:focus {
  color: #000000;
}
#menu-2k .link[aria-expanded="true"],
#menu-2k .dropdown-menu {
  background: #000000;
}
#menu-2k .nav-dropdown-sm .link:focus,
#menu-2k .nav-dropdown-sm .link:hover,
#menu-2k .nav-dropdown-sm .dropdown-item:focus,
#menu-2k .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-2k .navbar,
#menu-2k .nav-dropdown-sm,
#menu-2k .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2k .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-2k .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-2k .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2k .bg-color.transparent.opened .link:hover,
#menu-2k .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-2k .link[aria-expanded="true"],
#menu-2k .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#menu-2k.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2k .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-2k .close-icon::before,
#menu-2k .close-icon::after {
  background-color: #ffffff;
}
#features1-2m .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-2n .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-2p .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-2q .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#header3-2r .mbr-section-title,
#header3-2r .mbr-section-subtitle {
  text-align: center;
}
#features1-2s .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-2t .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-2u .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#features1-2v .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #2e2e2e;
}
#header3-3a .mbr-section-title,
#header3-3a .mbr-section-subtitle {
  text-align: center;
}
#content1-39 P {
  text-align: center;
}
#content1-39 DIV {
  text-align: center;
}
#menu-1e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1e .navbar-caption {
  color: #ffffff;
}
#menu-1e .navbar-toggler {
  color: #ffffff;
}
#menu-1e .link,
#menu-1e .dropdown-item {
  color: #ffffff;
}
#menu-1e .link {
  font-size: 0.75rem;
}
#menu-1e .dropdown-item,
#menu-1e .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1e .link:hover,
#menu-1e .dropdown-item:hover,
#menu-1e .link:focus,
#menu-1e .dropdown-item:focus {
  color: #000000;
}
#menu-1e .link[aria-expanded="true"],
#menu-1e .dropdown-menu {
  background: #000000;
}
#menu-1e .nav-dropdown-sm .link:focus,
#menu-1e .nav-dropdown-sm .link:hover,
#menu-1e .nav-dropdown-sm .dropdown-item:focus,
#menu-1e .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-1e .navbar,
#menu-1e .nav-dropdown-sm,
#menu-1e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1e .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-1e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1e .bg-color.transparent.opened .link:hover,
#menu-1e .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-1e .link[aria-expanded="true"],
#menu-1e .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#menu-1e.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1e .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-1e .close-icon::before,
#menu-1e .close-icon::after {
  background-color: #ffffff;
}
#form1-2x .form-control-label {
  color: #ffffff;
}
#form1-2x .mbr-section-title {
  color: #ffffff;
}
#form1-2x SMALL {
  color: #ffffff;
}
#social-buttons2-31 .mbr-section-title,
#social-buttons2-31 .btn-social {
  color: #232323;
}
#social-buttons2-31 .mbr-section-title {
  color: #ffffff;
}
#msg-box8-30 .mbr-section-title,
#msg-box8-30 p {
  color: #fff;
}
#header3-2y .mbr-section-title,
#header3-2y .mbr-section-subtitle {
  text-align: center;
}
#content7-2z P {
  color: #ffffff;
}
#content7-2z H1 {
  color: #ffffff;
}
#header3-1c .mbr-section-title,
#header3-1c .mbr-section-subtitle {
  text-align: center;
}
#features4-19 .card-subtitle {
  color: #bcbcbc;
}
#features4-19 .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features4-19 H4 {
  color: #ffffff;
}
#features4-19 P {
  color: #ffffff;
  text-align: center;
}
#features4-19 B {
  text-align: left;
}
#features4-19 I {
  text-align: left;
}
#menu-11 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-11 .navbar-caption {
  color: #ffffff;
}
#menu-11 .navbar-toggler {
  color: #ffffff;
}
#menu-11 .link,
#menu-11 .dropdown-item {
  color: #ffffff;
}
#menu-11 .link {
  font-size: 0.75rem;
}
#menu-11 .dropdown-item,
#menu-11 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-11 .link:hover,
#menu-11 .dropdown-item:hover,
#menu-11 .link:focus,
#menu-11 .dropdown-item:focus {
  color: #000000;
}
#menu-11 .link[aria-expanded="true"],
#menu-11 .dropdown-menu {
  background: #000000;
}
#menu-11 .nav-dropdown-sm .link:focus,
#menu-11 .nav-dropdown-sm .link:hover,
#menu-11 .nav-dropdown-sm .dropdown-item:focus,
#menu-11 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-11 .navbar,
#menu-11 .nav-dropdown-sm,
#menu-11 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-11 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-11 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-11 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-11 .bg-color.transparent.opened .link:hover,
#menu-11 .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-11 .link[aria-expanded="true"],
#menu-11 .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-11 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-11 .close-icon::before,
#menu-11 .close-icon::after {
  background-color: #ffffff;
}
#features4-1b .card-subtitle {
  color: #bcbcbc;
}
#features4-1b .iconbox {
  background-color: #ffffff;
  border-color: #ffffff;
}
#features4-1b H4 {
  color: #ffffff;
}
#features4-1b P {
  color: #ffffff;
}
#header3-36 .mbr-section-title,
#header3-36 .mbr-section-subtitle {
  text-align: center;
}
#content1-35 P {
  text-align: center;
}
#social-buttons2-14 .mbr-section-title,
#social-buttons2-14 .btn-social {
  color: #232323;
}
#social-buttons2-14 .mbr-section-title {
  color: #ffffff;
}
#menu-3c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3c .navbar-caption {
  color: #ffffff;
}
#menu-3c .navbar-toggler {
  color: #ffffff;
}
#menu-3c .link,
#menu-3c .dropdown-item {
  color: #ffffff;
}
#menu-3c .link {
  font-size: 0.75rem;
}
#menu-3c .dropdown-item,
#menu-3c .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-3c .link:hover,
#menu-3c .dropdown-item:hover,
#menu-3c .link:focus,
#menu-3c .dropdown-item:focus {
  color: #000000;
}
#menu-3c .link[aria-expanded="true"],
#menu-3c .dropdown-menu {
  background: #000000;
}
#menu-3c .nav-dropdown-sm .link:focus,
#menu-3c .nav-dropdown-sm .link:hover,
#menu-3c .nav-dropdown-sm .dropdown-item:focus,
#menu-3c .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-3c .navbar,
#menu-3c .nav-dropdown-sm,
#menu-3c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3c .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-3c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-3c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3c .bg-color.transparent.opened .link:hover,
#menu-3c .bg-color.transparent.opened .link:focus {
  color: #000000;
}
#menu-3c .link[aria-expanded="true"],
#menu-3c .dropdown-item[aria-expanded="true"] {
  color: #000000!important;
}
#menu-3c.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3c .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-3c .close-icon::before,
#menu-3c .close-icon::after {
  background-color: #ffffff;
}
#msg-box8-3g .mbr-section-title,
#msg-box8-3g p {
  color: #fff;
}
